/* 1150 */
@media (max-width: 1150px){

    #bullets{
        opacity: 0.0;
        position: absolute;
        height: 70%;
        width:auto;
        left: 0;
        bottom: 0;
        transition-duration: 2s;
    }

    #inHand{
        opacity: 0.0;
        position: absolute;
        height: 70%;
        width:auto;
        left: 0;
        bottom: 0;
        transition-duration: 2s;
    }

    #tizzyHand{
        opacity: 0.0;
        position: absolute;
        height: 70%;
        width:auto;
        right: 0;
        bottom: 0;
        transition-duration: 2s;
    }

}