/*Desktop 1366*/

@media (max-width: 1366px){
   
/*
    // TIZZY COLUMN //
*/
 #sparetimeColMore{
    height: 100vh;
}

#sparetimeColMoreOne{
    height: 100vh;
}

#sparetimeColMoreTwo{
    height: 100vh;
}

.textContainer{
    position: absolute;
    width: 100%;
    z-index: 1;
}

.textContainer h1{
    text-align: left;
    font-size: 75px;
}


.textContainer p{
    text-align: left;
    font-size: 24px;
    font-family: "gotham-light";
}
#tizzyGifMobile{
    display: none;
}

#tizzyMovieMobile{
    display: none;
}

.textContainerTizzyMobile{
    display: none;
}
#tizzyImage1Mobile{
    display: none;
} 

#tizzyColMoreOneTextcontainer{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 30%;
}

#tizzyColMoreOneTextcontainer h1{
    text-align: right;
    font-size: 75px;   
}

#tizzyColMoreOneTextcontainer p{
    text-align: right;
    font-size: 24px;   
}

#sparetimeColMoreThree{
    height: 100vh;
}

#tizzyMovie{
    position: absolute;
    width: 80%;
    height: auto;
    top: 60%;
}

#tizzyImage1{
    position: absolute;
    height: 100%;
    width: auto;
    bottom: 0px;
    right: 0px;
}

#tizzyGif{
    position: absolute;
    width: 100%;
    height: auto;
    bottom: 0px;
    right: 0px;
}

    
    
/*    // HAND ANIMATION //*/

 #bulletsCol:hover > #bullets{
    transition-duration: 2.5s;
    -webkit-transform: scale(1.1, 1.1);
   -moz-transform: scale(1.1, 1.1);
   -ms-transform: scale(1.1, 1.1);
   -o-transform: scale(1.1, 1.1);
   transform: scale(1.1, 1.1)      
}

#inCol:hover > #inHand{
    transition-duration: 2.5s;
    -webkit-transform: scale(1.1, 1.1);
   -moz-transform: scale(1.1, 1.1);
   -ms-transform: scale(1.1, 1.1);
   -o-transform: scale(1.1, 1.1);
   transform: scale(1.1, 1.1)      
}

#tizzyCol:hover > #tizzyHand{
    transition-duration: 2.5s;
    -webkit-transform: scale(1.1, 1.1);
   -moz-transform: scale(1.1, 1.1);
   -ms-transform: scale(1.1, 1.1);
   -o-transform: scale(1.1, 1.1);
   transform: scale(1.1, 1.1)      
}

#bullets{
    opacity: 0.0;
    position: absolute;
    height: 80%;
    width:auto;
    left: 0;
    bottom: 0;
    transition-duration: 2s;
}

#inHand{
    opacity: 0.0;
    position: absolute;
    height: 80%;
    width:auto;
    left: 0;
    bottom: 0;
    transition-duration: 2s;
}

#tizzyHand{
    opacity: 0.0;
    position: absolute;
    height: 80%;
    width:auto;
    right: 0;
    bottom: 0;
    transition-duration: 2s;
}

/*// AFTERCLICK //*/

    #bulletsAfterClick{
        position: absolute;
        left: 0;
        bottom: 0;
    }

    #rightcolAfterClick{
        background-color: #fff;
        height: 100vh;
        padding-left: 0px;
        padding-right: 0px;
    }

    .sectionAfterClick{
        pointer-events: none;
        position: absolute;
        left: 0px;
        top: 0px;
        height: 100%;
        display:block;
        width: 100%;
        z-index: 100;
        opacity: 0.0;
        background-color: #fff;
        -webkit-transition: opacity 1s ease-in-out;
        -moz-transition: opacity 1s ease-in-out;
        -ms-transition: opacity 1s ease-in-out;
        -o-transition: opacity 1s ease-in-out;
        transition: opacity 1s ease-in-out;
    }
    .secondLayer{
        pointer-events:  all !important;
        visibility: visible !important;
        opacity: 1.0 !important; 
        -webkit-transition: opacity 1s ease-in-out;
        -moz-transition: opacity 1s ease-in-out;
        -ms-transition: opacity 1s ease-in-out;
        -o-transition: opacity 1s ease-in-out;
        transition: opacity 1s ease-in-out;
    }

    .sslide {
        background-color: aqua;
    }

    #one {
    }

    #two {

    }
    
}