@media (max-width: 1440px){
    
 /*    // TIZZY COLUMN //   */
    
 #sparetimeColMore{
    height: 100vh;
}

#sparetimeColMoreOne{
    height: 100vh;
}

#sparetimeColMoreTwo{
    height: 100vh;
}

.textContainer{
    position: absolute;
    width: 100%;
    z-index: 1;
}

.textContainer h1{
    text-align: left;
    font-size: 75px;
}


.textContainer p{
    text-align: left;
    font-size: 24px;
    font-family: "gotham-light";
}
#tizzyGifMobile{
    display: none;
}

#tizzyMovieMobile{
    display: none;
}

.textContainerTizzyMobile{
    display: none;
}
#tizzyImage1Mobile{
    display: none;
} 

#tizzyColMoreOneTextcontainer{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 30%;
}

#tizzyColMoreOneTextcontainer h1{
    text-align: right;
    font-size: 75px;   
}

#tizzyColMoreOneTextcontainer p{
    text-align: right;
    font-size: 24px;   
}

#sparetimeColMoreThree{
    height: 100vh;
}

#tizzyMovie{
    position: absolute;
    width: 80%;
    height: auto;
    top: 60%;
}

#tizzyImage1{
    position: absolute;
    height: 100%;
    width: auto;
    bottom: 0px;
    right: 0px;
}

#tizzyGif{
    position: absolute;
    width: 100%;
    height: auto;
    bottom: 0px;
    right: 0px;
}

}
