/*IPHONE  6*/

@media (max-width: 375px) {
    #logoBig {
        position: absolute;
        height: 74px;
        width: 280px;
        left: 50%;
        top: 50%;
        margin-left: -140px;
        margin-top: -74px;
    }

/*    NAVIGATION*/
    .menu{
        display: block;
    }
    
    #desktopNav{
        display: none !important;
    }
    #secondMenuLogo{
        position: absolute;    
        height: 34px; !important;
        top: 15px; !important;
        left: 15px; !important;
        width: auto;
    }
    #secondMenuProjectLogo{
        position: absolute;
        top: 15px;
        right: 15px;
        height: 45px;
        width: auto;
    }
    
    #bisonLogo{
        height: 34px; !important;
        width: 41.02px; 
        top: 15px; !important;
        left: 15px; !important;
        z-index: 1000;
        visibility: visible !important;
    }
        
    #bulletsCol {
        background-color: #1b2339 ;
        height: 50%;
        width: 100%;
        display:block;
        padding-left: 0px;
        padding-right: 0px;
    }
    
    #sparetimeCol {
        height: 50%;
        width: 100%;
        background-color: #d9289e;
        padding-left: 0px;
        padding-right: 0px;
    }

    #owllerCol {
        background-color: #ffd30f ;
        height: 50%;
        width: 100%;
        display:block;
        padding-left: 0px;
        padding-right: 0px;
    }

    #doCol {
        background-color: #1f2e73 ;
        height: 50%;
        width: 100%;
        display:block;
        padding-left: 0px;
        padding-right: 0px;
    }

    #tizzyCol {
        background-color: #ff0028 ;
        height: 50%;
        width: 100%;
        display:block;
        padding-left: 0px;
        padding-right: 0px;
    }

    #fileyCol {
        background-color: #1f8bce ;
        height: 50%;
        width: 100%;
        display:block;
        padding-left: 0px;
        padding-right: 0px;
    }

    #inCol {
        background-color: #242835;
        height: 50%;
        width: 100%;
        display:block;
        padding-left: 0px;
        padding-right: 0px;
    }

    #lookCol {
        background-color: #c61616 ;
        height: 50%;
        width: 100%;
        display:block;
        padding-left: 0px;
        padding-right: 0px;
    }

    /*LOGOS*/

    #bulletsLogo{
        margin: 0;
        position: absolute;
        height: 38px;
        width: 200px;
        
        margin-top: -19px;
        margin-left: -100px;
        left: 50%;
        top: 50%;
    }

    #sparetimeLogo{
        margin: 0;
        position: absolute;
        height: 55px;
        width: 200px;
        margin-top: -27px;
        margin-left: -100px;
        left: 50%;
        top: 50%;
    }

    #owllerLogo{
        margin: 0;
        position: absolute;
        height: 77px;
        width: 234px;
        margin-top: -38px;
        margin-left: -117px;
        left: 50%;
        top: 50%;
    }

    #doLogo{
        margin: 0;
        position: absolute;
        height: 65px;
        width: 107px;
        margin-top: -33px;
        margin-left: -54px;
        left: 50%;
        top: 50%;
    }

    #tizzyLogo{
        margin: 0;
        position: absolute;
        height: 70px;
        width: 172px;
        margin-top: -35px;
        margin-left: -86px;
        left: 50%;
        top: 50%;
    }

    #fileyLogo{
        margin: 0;
        position: absolute;
        height: 60px;
        width: 199px;
        margin-top: -30px;
        margin-left: -99px;
        left: 50%;
        top: 50%;
    }

    #inLogo{
        margin: 0;
        position: absolute;
        height: 108px;
        width: 166px;
        margin-top: -54px;
        margin-left: -83px;
        left: 50%;
        top: 50%;
    }

    #lookLogo{
        margin: 0;
        position: absolute;
        height: 56px;
        width: 196px;
        margin-top: -28px;
        margin-left: -98px;
        left: 50%;
        top: 50%;
    }
    
/*    // HAND ANIMATION //*/

    #bulletsCol:hover > #bullets{
        transform: none;
        transition: none;
    }
    #bullets{
        display: none;
    }
    
    #inCol:hover > #inHand{
        transform: none;
        transition: none;
    }

    #inHand{
        display: none;
    }

    #tizzyCol:hover > #tizzyHand{
        transform: none;
        transition: none;
    }

    #tizzyHand{
        display: none;
    }
    
}
