IPHONE 6+
*/

@media (max-width: 414px) {
    #logoBig {
        position: absolute;
        height: 93px;
        width: 350px;
        left: 50%;
        top: 50%;
        margin-left: -175px;
        margin-top: -90px;
    }
    #bisonLogo{
        height: 34px; !important;
        width: 41.02px; 
        top: 15px; !important;
        left: 15px; !important;
        z-index: 1000;
        visibility: visible !important;
    }
    .menu{
        display: block;
    }
    
   #desktopNav{
        display: none !important;
    }
    
    #secondMenuLogo{
        position: absolute;    
        height: 34px; !important;
        top: 15px; !important;
        left: 15px; !important;
        width: auto;
    }
    #secondMenuProjectLogo{
        position: absolute;
        top: 15px;
        right: 15px;
        height: 45px;
        width: auto;
    }
    
    #bulletsCol {
        background-color: #1b2339 ;
        height: 50%;
        width: 100%;
        display:block;
        padding-left: 0px;
        padding-right: 0px;
    }
    
    #sparetimeCol {
        height: 50%;
        width: 100%;
        background-color: #d9289e;
        padding-left: 0px;
        padding-right: 0px;
    }

    #owllerCol {
        background-color: #ffd30f ;
        height: 50%;
        width: 100%;
        display:block;
        padding-left: 0px;
        padding-right: 0px;
    }

    #doCol {
        background-color: #1f2e73 ;
        height: 50%;
        width: 100%;
        display:block;
        padding-left: 0px;
        padding-right: 0px;
    }

    #tizzyCol {
        background-color: #ff0028 ;
        height: 50%;
        width: 100%;
        display:block;
        padding-left: 0px;
        padding-right: 0px;
    }

    #fileyCol {
        background-color: #1f8bce ;
        height: 50%;
        width: 100%;
        display:block;
        padding-left: 0px;
        padding-right: 0px;
    }

    #inCol {
        background-color: #000000;
        height: 50%;
        width: 100%;
        display:block;
        padding-left: 0px;
        padding-right: 0px;
    }

    #lookCol {
        background-color: #c61616 ;
        height: 50%;
        width: 100%;
        display:block;
        padding-left: 0px;
        padding-right: 0px;
    }
    
    /*LOGOS*/

    #bulletsLogo{
        margin: 0;
        position: absolute;
        height: 38px;
        width: 200px;
        
        margin-top: -19px;
        margin-left: -100px;
        left: 50%;
        top: 50%;
    }

    #sparetimeLogo{
        margin: 0;
        position: absolute;
        height: 55px;
        width: 200px;
        margin-top: -27px;
        margin-left: -100px;
        left: 50%;
        top: 50%;
    }

    #owllerLogo{
        margin: 0;
        position: absolute;
        height: 77px;
        width: 234px;
        margin-top: -38px;
        margin-left: -117px;
        left: 50%;
        top: 50%;
    }

    #doLogo{
        margin: 0;
        position: absolute;
        height: 65px;
        width: 107px;
        margin-top: -33px;
        margin-left: -54px;
        left: 50%;
        top: 50%;
    }

    #tizzyLogo{
        margin: 0;
        position: absolute;
        height: 70px;
        width: 172px;
        margin-top: -35px;
        margin-left: -86px;
        left: 50%;
        top: 50%;
        z-index: 11;
    }

    #fileyLogo{
        margin: 0;
        position: absolute;
        height: 60px;
        width: 199px;
        margin-top: -30px;
        margin-left: -99px;
        left: 50%;
        top: 50%;
    }

    #inLogo{
        margin: 0;
        position: absolute;
        height: 108px;
        width: 166px;
        margin-top: -54px;
        margin-left: -83px;
        left: 50%;
        top: 50%;
    }

    #lookLogo{
        margin: 0;
        position: absolute;
        height: 56px;
        width: 196px;
        margin-top: -28px;
        margin-left: -98px;
        left: 50%;
        top: 50%;
    }
/*
    // TIZZY COLUMN //
*/
    #sparetimeColMoreTwo{
        display: none;
    }
    #tizzyMovie{
        display: none !important;
    }
    
    #tizzyGifMobile{
        display: block;
        position: absolute;
        right: 0px;
        bottom: 0px;
        height: auto;
        width: 100%;
    }
    .textContainerTizzyMobile{
        display: block !important;
        position: relative;
        top: 33%;
        transform: translateY(-50%);
        margin-left: 0% !important;
        z-index: 1;
    }
    
    #sparetimeColMoreTwo{
        display: none;
    }
    #sparetimeColMoreThree{
        display: none;
    }
    .textContainer{
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }

    .textContainer h1{
        text-align: left;
        font-size: 75px;
    }


    .textContainer p{
        text-align: left;
        font-size: 24px;
        font-family: "gotham-light";
    }
    #tizzyColMoreOneTextcontainer{
        position: relative;
        top: 25%;
        transform: translateY(-50%);
        margin-left: 0% !important;
    }

    #tizzyColMoreOneTextcontainer h1{
        text-align: center;
        font-size: 34px;   
    }

    #tizzyColMoreOneTextcontainer p{
        text-align: center;
        font-size: 14px;   
    }

    #sparetimeColMoreThree{
        height: 100vh;
    }
    

    #tizzyMovieMobile{
        display: block;
        position: relative;
        left: 20%;
        height: 54%;
        width: auto;
        z-index: 1;
        bottom: -16%;
    }

    #tizzyImage1Mobile{
        display: block;
        position: absolute;
        bottom: 0px;
        right: 0px;
        width: 60%;
        height: auto;
    }

    #tizzyGif{
        position: relative;
        bottom: 10%;
        right: 50%;
        transform: translateX(-50%)
    }

    
    
/*    // HAND ANIMATION //*/

    #bulletsCol:hover > #bullets{
        transform: none;
        transition: none;
    }
    #bullets{
        display: none;
    }
    
    #inCol:hover > #inHand{
        transform: none;
        transition: none;
    }

    #inHand{
        display: none;
    }

    #tizzyCol:hover > #tizzyHand{
        transform: none;
        transition: none;
    }

    #tizzyHand{
        display: none;
    }

/*// AFTERCLICK //*/

    #bulletsAfterClick{
        position: absolute;
        left: 0;
        bottom: 0;
    }

    #rightcolAfterClick{
        background-color: #fff;
        height: 100vh;
        padding-left: 0px;
        padding-right: 0px;
    }

    .sectionAfterClick{
        pointer-events: none;
        position: absolute;
        left: 0px;
        top: 0px;
        height: 100%;
        display:block;
        width: 100%;
        z-index: 100;
        opacity: 0.0;
        background-color: #fff;
        -webkit-transition: opacity 1s ease-in-out;
        -moz-transition: opacity 1s ease-in-out;
        -ms-transition: opacity 1s ease-in-out;
        -o-transition: opacity 1s ease-in-out;
        transition: opacity 1s ease-in-out;
    }
    .secondLayer{
        pointer-events:  all !important;
        visibility: visible !important;
        opacity: 1.0 !important; 
        -webkit-transition: opacity 1s ease-in-out;
        -moz-transition: opacity 1s ease-in-out;
        -ms-transition: opacity 1s ease-in-out;
        -o-transition: opacity 1s ease-in-out;
        transition: opacity 1s ease-in-out;
    }

    .sslide {
        background-color: aqua;
    }

    #one {
    }

    #two {

    }
    
}
